%h1 Listing audits

%table
  %thead
    %tr
      %th Auditable
      %th Auditable type
      %th Timestamp
      %th Event
      %th
      %th
      %th

  %tbody
    - @audits.each do |audit|
      %tr
        %td= audit.auditable_id
        %td= audit.auditable_type
        %td= audit.timestamp
        %td= audit.event
        %td= link_to 'Show', audit
        %td= link_to 'Edit', edit_audit_path(audit)
        %td= link_to 'Destroy', audit, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Audit', new_audit_path
